<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Connections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>

	<!-- Navigation -->
	<div th:replace="fragments/general.html :: navigation"></div>

	<!-- FORM : Add a connection -->
	<div class="container">
		<form method="POST" class="form-inline" th:action="@{/connection}" >
				<label for="email" class="my-2 mx-2">Add a new contact:</label>
				<input name="email" id="email" type="text" class="form-control my-2 mx-2" placeholder="Email to add as connection" autofocus="true">
				<span class="has-error" th:text="${error}"></span>
				<button class="btn btn-lg btn-primary my-2 mx-2" type="submit">Submit</button>
		</form>
	</div>


<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="connections" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="page : ${paged.page}">
                    <td th:text="${page.firstname}">id</td>
                    <td th:text="${page.lastname}">title</td>
                    <td th:text="${page.email}">body</td>
                    <td> 
						<form method="POST" th:action="@{/connectionDelete}" >
						<button class="btn btn-danger" type="submit" name="id" th:value="${page.id}">Delete</button>
						</form>
					</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${paged.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!paged.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/connection?pageNumber=' + ${paged.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${paged.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == paged.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/connection?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!paged.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/connection?pageNumber=' + ${paged.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>