<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Connections</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link href="/css/main.css" rel="stylesheet">
</head>

<body>
 
	<div class="container">
<!--	
		<form method="POST" class="mt-4" th:action="@{/connectionAdd} >

			<h2 class="form-signin-heading">Add a new contact:</h2>

			<div class="form-group">
				<input name="email" type="text" class="form-control" placeholder="Email to add as connection" autofocus="true">
				<span class="has-error" th:text="${error}"></span>
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>
-->
	<div class="container">
		<h2 class="mt-4">Contacts</h2>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="text-left">Email</th>
					<th class="text-left">First Name</th>
					<th class="text-left">Last Name</th>
					<th class="text-left"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="connection : ${user.connections}">
					<td th:text="${connection.email}"></td>
					<td th:text="${connection.firstname}"></td>
					<td th:text="${connection.lastname}"></td>
					<td><a href="#" class="btn btn-info" role="button"
						th:href="@{/connectionDelete(id=${connection.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<hr />

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>
</body>
</html>
