<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Buddy Transaction</title>
	
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<!-- Navigation -->
	<div th:replace="fragments/general.html :: navigation"></div>
	
	<!-- FORM : Transaction between users -->
	<div class="container">
		<form method="POST" th:object="${usertransactionFormDTO}"
			th:action="@{/usertransaction}">
			<div class="form-row my-3">
				<div class="col-12 col-md-6 col-lg-4">
					<select th:field="*{userDestinationId}" class="form-control">
						<option value="0">--- Please select buddy ---</option>
						<option
							th:each="entry : ${user.getConnections()}"
							th:value="${entry.getId}" 
							th:text="${entry.getEmail()}">
						</option>
					</select> 
					<span class="has-error" th:if="${#fields.hasErrors('userDestinationId')}"
						th:errors="*{userDestinationId}">
					</span>
				</div>
				<div class="col-12 col-md-6 col-lg-8 h5 text-right">
					<div
						th:text="'Your account value: '+ ${user.amount}+ ' ' +${user.currency}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-6 col-md-4 col-lg-3">
					<input th:field="*{amount}" type="number" step="0.01"
						class="form-control" placeholder="Enter money amount"
						autofocus="true"> <span class="has-error"
						th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
				</div>
				<div class="col-6 col-md-4 col-lg-3">
					<select th:field="*{currency}" class="form-control">
						<!--/* Accessing directly bean "currenciesAllowed" in Spring application context: */-->
						<option
							th:each="entry : ${@currenciesAllowed.getCurrenciesAllowedList()}"
							th:value="${entry}" th:text="${entry.getDisplayName()}">
						</option>
					</select> 
					<span class="has-error" th:if="${#fields.hasErrors('currency')}"
						th:errors="*{currency}"></span>
				</div>
				<div class="col-12 col-md-4 col-lg-3">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container">
		<h4 class="mt-4">Transactions history:</h4>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="text-left">From</th>
					<th class="text-left">To</th>
					<th class="text-left">Date</th>
					<th class="text-left">value</th>
					<th class="text-left">Fees</th>
					<th class="text-left">Currency</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="page : ${paged.page}">
					<td th:text="${page.userSource.email}"></td>
					<td th:text="${page.userDestination.email}"></td>
					<td th:text="${page.datetime}"></td>
					<td th:text="${page.amount}"></td>
					<td th:text="${page.fees}"></td>
					<td th:text="${page.currency}"></td>
				</tr>
			</tbody>
		</table>

		<!-- PAGED -->
		<div th:replace="fragments/general.html :: paged"></div>

		<hr />
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>
</body>
</html>
